lettera {color:blue; font-family:Arial; font-size:14pt}
mittente {color:red; font-family:Arial; font-size:12pt}
destinatario {color:red; font-family:Arial; font-size:12pt}
oggetto {font-size:bold; }
paragrafo {font-style:italic; text-align:justify; font-size:10pt}